{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Nosotros - ComponenteTotal</title>
</head>
<body>
    <header>
        <h1>ComponenteTotal</h1>
    </header>

    <section class="contenido">
        <h2>Acerca de Nosotros</h2>
        <p>Somos ComponenteTotal, una empresa especializada en la venta de piezas de computadora, periféricos y otros productos electrónicos.</p>

        <h3>Nuestra Misión</h3>
        <p>Es brindar un servicio excepcional a nuestros clientes, ofreciendo productos de alta calidad y soluciones confiables que satisfagan sus necesidades tecnológicas.</p>

        <h3>Nuestros Valores</h3>
        <ul>
            <li>Calidad: Nos comprometemos a ofrecer productos de la más alta calidad para garantizar la satisfacción de nuestros clientes y su confianza en nuestros productos.</li>
            <li>Compromiso: Valoramos profundamente la relación con nuestros clientes y nos comprometemos a proporcionar un servicio excepcional y una atención personalizada en cada interacción.</li>
            <li>Excelencia: Buscamos la excelencia en todo lo que hacemos, desde la selección de productos hasta la atención al cliente, para asegurarnos de que nuestros clientes obtengan la mejor experiencia posible.</li>
        </ul>
    </section>
</body>
</html>
</div>
{% endblock %}

