<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sistema de Login</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>

        <div class="contaiuner">
            <div class="image">
                <div class="form-box">
                    <div class="form">
                    <h2>Registro</h2>
                    <div class="input-box">
                        <input type="text">
                        <label for="">Usuario</label>
                    </div>
                    <div class="input-box">
                        <input type="text">
                        <label for="">Email</label>
                    </div>
                    <div class="input-box">
                        <input type="text">
                        <label for="">Contraseña</label>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>