{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="body2">
    <div class="contaiuner">
        <div class="image">
            <div class="form-box">
                <div class="form">
                    <h2>¡Bienvenido!</h2>
                    <form method="post">
                        <div class="input-box">
                            {% csrf_token %}
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="input-box">
                            {% csrf_token %}
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {% if form.errors %}
                                <p class="text-danger">Contraseña incorrecta. Inténtelo de nuevo.</p>
                            {% endif %}
                        </div>
                        <button type="submit">Iniciar Sesión</button>
                    </form>
                        <!-- Agregar botón de registro -->
                        <a class="registro" href="{% url 'registro' %}">Aún no te has registrado?</a>
                        <!-- Otras opciones -->
                        <!-- <a href="#">¿Olvidó su Contraseña?</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% if request.session.sesion_iniciada %}
<script>
    alert("Iniciaste sesión con éxito.");
</script>
{% endif %}
{% endblock %}
