{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="cuadro mt-5">
    <h1>Visualizar Facturas</h1>
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número de Factura</th>
                <th>Fecha</th>
                <th>Valor total (con iva)</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Estado de Despacho</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
                <tr>
                    <td>{{ factura.orden_compra.id_orden }}</td>
                    <td>{{ factura.orden_compra.fecha }}</td>
                    <td>{{ factura.orden_compra.iva_orden }}</td>
                    <td>{{ factura.orden_compra.direccion }}</td>
                    <td>{{ factura.orden_compra.telefono }}</td>
                    <td>{{ factura.get_estado_despacho_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}