{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="cuadro mt-5">
    <h1>Visualizar Facturas</h1>
    <br><br>
    <input type="text" id="searchInput" class="form-control mt-3" placeholder="Buscar" />
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número de Factura</th>
                <th>Fecha</th>
                <th>Valor total (con iva)</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Estado de Despacho</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
                <tr>
                    <td>{{ factura.orden_compra.id_orden }}</td>
                    <td>{{ factura.orden_compra.fecha }}</td>
                    <td>{{ factura.orden_compra.iva_orden }}</td>
                    <td>{{ factura.orden_compra.direccion }}</td>
                    <td>{{ factura.orden_compra.telefono }}</td>
                    <td>{{ factura.get_estado_despacho_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        const filter = this.value.toUpperCase();
        const rows = document.querySelector('table tbody').getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            let found = false;
            const cells = rows[i].getElementsByTagName('td');

            for (let j = 0; j < cells.length; j++) {
                const cell = cells[j];
                const textValue = cell.textContent || cell.innerText;

                if (textValue.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                    break;
                }
            }

            if (found) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>
{% endblock %}